header.container.pt-4
  /временная шапка
  | Book Exchange
  
  /nav.row
  /.col-8 a href=root_path = "Book Exchange"
  
  /.col-4 
    /= link_to "Вход", signin_path 
    /= link_to "Регистрация", signup_path 